/***** Main *****/
:root {
    --bs-app-sidebar-width: 320px;
}

/***** End Main *****/
/***** Header *****/
[data-kt-app-header-fixed=true][data-kt-app-sidebar-fixed=true][data-kt-app-sidebar-push-header=true] .app-header,
[data-kt-app-header-fixed=true][data-kt-app-sidebar-sticky=on][data-kt-app-sidebar-push-header=true] .app-header {
    width: 100%;
    left: 0;
    border-bottom-style: solid;
}

[data-bs-theme="light"] [data-kt-app-header-fixed=true][data-kt-app-sidebar-fixed=true][data-kt-app-sidebar-push-header=true] .app-header,
[data-bs-theme="light"] [data-kt-app-header-fixed=true][data-kt-app-sidebar-sticky=on][data-kt-app-sidebar-push-header=true] .app-header {
    background-color: #fff;
}

.search-input {
    background-color: #c2d0dd42;
    border-color: transparent;
    border-width: 2px;
    border-radius: 50em;
    font-weight: 400;
}

.search-input:focus {
    border-color: #0f4478;
}

.app-navbar-item .btn.btn-icon {
    background-color: var(--bs-light) !important;
}

.app-navbar-item .btn.btn-icon i {
    color: #01070D;
}

@media (min-width: 992px) {
    .app-container {
        padding-left: 15px !important;
    }
}

/***** End Header *****/
/***** Sidebar *****/
[data-kt-app-layout=light-sidebar] .app-sidebar {
    width: 320px;
}

[data-kt-app-sidebar-minimize="on"] .app-sidebar {
    width: 80px;
}

[data-kt-app-layout=light-sidebar] .app-sidebar .app-sidebar-wrapper>.menu.menu-sub-indention {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    width: 80px;
    overflow-y: auto;
}

@media (min-width: 991.98px) {
    [data-kt-app-layout=light-sidebar] .app-sidebar {
        top: 70px;
    }

    [data-kt-app-layout=light-sidebar] .app-sidebar .app-sidebar-wrapper>.menu.menu-sub-indention {
        height: calc(100% - 70px);
    }
}

@media (min-width: 992px) {
    [data-kt-app-sidebar-minimize=on]:not([data-kt-app-sidebar-hoverable=true]) .app-sidebar .app-sidebar-wrapper {
        /* width: auto; */
        /* margin-top: 6px !important; */
    }
}

[data-kt-app-layout=light-sidebar] .app-sidebar .app-sidebar-wrapper>.menu .menu-item .menu-link {
    border-radius: 0.475rem;
    flex-direction: column;
}

[data-kt-app-layout=light-sidebar] .app-sidebar .app-sidebar-wrapper>.menu .menu-item .menu-link .menu-title {
    opacity: 1 !important;
    margin-top: 5px;
}

[data-kt-app-layout=light-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-title {
    color: #818A93;
}

[data-kt-app-layout=light-sidebar] .app-sidebar .menu .menu-item .menu-link:hover .menu-title,
[data-kt-app-layout=light-sidebar] .app-sidebar .menu .menu-item .menu-link:active .menu-title {
    color: #01070D;
}

@media (max-width: 992px) {
    /* [data-kt-app-layout=light-sidebar] .app-sidebar {
        width: 70px !important;
    } */

    [data-kt-app-layout=light-sidebar] .app-sidebar .app-sidebar-wrapper>.menu.menu-sub-indention {
        top: 24px;
    }
}

@media (min-width: 992px) {
    [data-kt-app-sidebar-minimize=on]:not([data-kt-app-sidebar-hoverable=true]) .app-sidebar .app-sidebar-menu .menu-item.show>.menu-sub {
        height: auto;
        overflow: hidden;
        transition: height .3s ease-in-out !important;
    }
}

.menu-sub .menu-link {
    flex-direction: row !important;
    border-radius: 0 !important;
}

/***** End Sidebar *****/
/***** Menu Icon *****/
.app-sidebar .app-sidebar-wrapper>.menu .menu-item .menu-link .menu-icon {
    margin: 0;
}

.app-sidebar .app-sidebar-wrapper>.menu .menu-item .menu-link .menu-icon>img {
    max-width: 24px;
}

.app-sidebar .app-sidebar-wrapper>.menu .menu-item .menu-link .menu-icon>img:nth-child(2),
.app-sidebar .app-sidebar-wrapper>.menu .menu-item .menu-link .menu-icon>img:nth-child(3),
.app-sidebar .app-sidebar-wrapper>.menu .menu-item .menu-link:hover .menu-icon>img:nth-child(1),
.app-sidebar .app-sidebar-wrapper>.menu .menu-item .menu-link:hover .menu-icon>img:nth-child(3),
.app-sidebar .app-sidebar-wrapper>.menu .menu-item .menu-link.active .menu-icon>img:nth-child(1),
.app-sidebar .app-sidebar-wrapper>.menu .menu-item .menu-link.active .menu-icon>img:nth-child(2) {
    opacity: 0;
    display: none;
}

.app-sidebar .app-sidebar-wrapper>.menu .menu-item .menu-link:hover .menu-icon>img:nth-child(2) {
    opacity: 1;
    display: block;
}

.app-sidebar .app-sidebar-wrapper>.menu .menu-item .menu-link.active .menu-icon>img:nth-child(3) {
    opacity: 1;
    display: block;
}

.app-sidebar .app-sidebar-wrapper>.menu .menu-item .menu-link.active:hover .menu-icon>img:nth-child(2) {
    opacity: 0;
    display: none;
}

.app-sidebar .app-sidebar-wrapper>.menu .menu-item .menu-link.active .menu-title {
    color: #0f4478 !important;
    font-weight: 700;
}

.app-sidebar .app-sidebar-wrapper>.menu .menu-item .menu-link:hover .menu-title {
    color: #0f4478 !important;
}

/***** End Menu Icon *****/
/***** App wrapper *****/
@media (min-width: 992px) {
    [data-kt-app-sidebar-fixed=true] .app-wrapper {
        margin-left: calc(var(--bs-app-sidebar-width) + var(--bs-app-sidebar-gap-start, 0px) + var(--bs-app-sidebar-gap-end, 0px) + 15px);
    }
}

/***** End App wrapper *****/

/***** Card *****/
.card {
    transition: .2s box-shadow ease-in-out;
}

.card:hover {
    box-shadow: 0 .5rem 1.5rem .5rem rgba(0, 0, 0, .075);
}

.total-units>i {
    opacity: 0;
    transition: .2s all ease-in-out;
}

.card:hover .total-units>i {
    opacity: 1;
}

/***** End Card *****/
/***** Select 2 *****/
.select2-container--bootstrap5 .select2-selection--single .select2-selection__placeholder {
    color: #181818;
}

.select2-container--bootstrap5 .select2-selection {
    border-width: 2px;
}

/***** End Select 2 *****/
/***** Table *****/
[data-bs-theme="light"] .table:not(.table-bordered).table-rounded {
    border-width: 2px !important;
    border-color: #C2D0DD !important;
    border-radius: 8px;
}

[data-bs-theme="light"] .table:not(.table-bordered).table-row-bordered tr {
    border-bottom-width: 2px;
    border-bottom-color: #C2D0DD;
}

[data-bs-theme="light"] .table:not(.table-bordered).table-row-bordered thead tr {
    border-bottom: 2px solid #C2D0DD !important;
}

[data-bs-theme="light"] .table-striped>tbody>tr:nth-of-type(even)>* {
    background-color: #F8FAFB;
    box-shadow: none;
}

[data-bs-theme="light"] .table-striped>tbody>tr:nth-of-type(odd)>* {
    background-color: #fff;
    box-shadow: none !important;
}

/* .table-striped>tbody>tr:nth-of-type(even)>* */
[data-bs-theme="light"] .table-active,
[data-bs-theme="light"] .table-active td {
    background-color: #ECF5FD !important;
}

[data-bs-theme="light"] .table-active td .btn-icon.btn-bg-light {
    background-color: #fff;
}

.table-active td .btn-icon.btn-bg-light i {
    color: #2391EA !important;
}

[data-bs-theme="light"] .table thead tr {
    background-color: #F3F6F8;
}

.table thead tr th:first-child {
    border-top-left-radius: 8px;
}

.table thead tr th:last-child {
    border-top-right-radius: 8px;
}

.table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

.table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

table.dataTable.table-hover>tbody>tr:hover>* {
    box-shadow: none;
}

.page-item.active .page-link {
    color: var(--bs-pagination-active-bg);
    background-color: rgba(var(--bs-primary-rgb), 0.1);
}

.page-item:last-child {
    margin-left: 1.5rem;
}

.page-item:first-child {
    margin-right: 1.5rem;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    border: 2px solid #C2D0DD;
    padding: 0.5rem 1.5rem;
}

/***** End Table *****/
/***** Tabs *****/
.nav-line-tabs .nav-item .nav-link {
    font-weight: 600;
}

.nav-line-tabs .nav-item .nav-link.active,
.nav-line-tabs .nav-item .nav-link:hover {
    color: var(--bs-primary);
    border-bottom-width: 2px !important;
}

.circle-tabs.nav-line-tabs {
    border-bottom: 0;
    overflow-x: auto;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
}

.circle-tabs.nav-line-tabs .nav-item .nav-link {
    border-bottom: 0;
    border-radius: 8px;
    background-color: #9fa8b130;
    color: #01070D;
    padding: 0.75rem 1.5rem;
    border: 1px solid #9fa8b130;
    white-space: nowrap;
}

.circle-tabs.nav-line-tabs .nav-item .nav-link:hover {
    border: 1px solid var(--bs-primary) !important;
    background-color: #ECF5FD;
}

.circle-tabs.nav-line-tabs .nav-item .nav-link.active {
    border: 1px solid var(--bs-primary) !important;
    background-color: #ECF5FD;
    border-radius: 22px;
}
/* Style the entire scrollbar */
.table-responsive::-webkit-scrollbar ,
.nav-tabs::-webkit-scrollbar {
    height: 5px; /* height of the scrollbar */
  }
  
  /* Style the thumb (the draggable part of the scrollbar) */
  .table-responsive::-webkit-scrollbar-thumb ,
  .nav-tabs::-webkit-scrollbar-thumb {
    background-color: var(--bs-primary); /* color of the thumb */
    border-radius: 10px; /* roundness of the thumb */
  }
  
  /* Style the track (the area behind the thumb) */
  .table-responsive::-webkit-scrollbar-track ,
  .nav-tabs::-webkit-scrollbar-track {
    background-color: transparent; /* color of the track */
  }
  
  /* Style the corner where the vertical and horizontal scrollbars meet */
  .table-responsive::-webkit-scrollbar-corner ,
  .nav-tabs::-webkit-scrollbar-corner {
    background-color: transparent; /* color of the corner */
  }
/***** End Tabs *****/